
  th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #f5f5f5;
  }
  table {
    overflow-x: auto ;
  }
.button {
    border-radius: 0.15cm;
}

.edit{
  filter: drop-shadow(1px 1px 1px rgba(10, 255, 10, 0.9));
}


.delete{
  filter: drop-shadow(1px 1px 1px rgba(255, 10, 10, 0.7));
}